.profile {
  .profile-title {
    font-size: 30px;
    font-weight: 450;

    .profile-btn {
      float: right;
      font-size: 16px;
      .btnEdit {
        font-weight: 400;
        &:hover {
          color: white;
        }
      }
      .profile-content-btn {
        margin: 2px;
      }
    }
  }
  .profile-content {
    label {
      font-size: 16px;
    }
  }
}
