.profile-title {
  font-size: 30px;
  font-weight: 450;

  .btnEdit {
    margin: auto;
    padding: 0.5rem;
    font-size: 18px;
    float: right;
    font-weight: 400;
          color: #e55353;

    &:hover {
      color: white;
    }
  }
}
.profile-content {
  label {
    font-size: 16px;
  }
  .profile-content-btn {
    font-size: 18px;
    margin-right: 20px;
  }
}
